<!doctype html>
<html lang="en">
  <head>

    <!-- common -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- title -->
    <title>{{page.titlex}}</title>

    {{> meta}}

  </head>
  <body class="{{body.class}}">

    <!-- header :: start -->
    <header>
      <nav class="navbar navbar-expand-sm">
        <div class="container">

          <!-- header content -->

        </div>
      </nav>
    </header>
    <!-- header :: end -->

    {{#block "main"}}{{/block}}

    <!-- footer :: start -->
    <footer>
      <div class="container">
        <div class="row">

          <!-- footer content -->

        </div>
      </div>
    </footer>
    <!-- footer :: end -->

    <script src="main.js"></script>
  </body>
</html>
